{% extends 'base.html' %}
{% load static %}
{% block static %}
    <link href="https://staticsbmstationery.s3.us-east-2.amazonaws.com/assets/dropzone.css" type="text/css" rel="stylesheet" />
     <script src="https://staticsbmstationery.s3.us-east-2.amazonaws.com/assets/dropzone.js"></script>
{% endblock %}
{% block content %}
 <div id="file-upload">
 {% for object in object_list %}
     {{ object.image.url }}
     <img src="{{ object.image.url }}" alt="">
 {% endfor %}
 
			<form action="{% url 'dashboard:product_dashboard:product_images_create' pk=1 %}" method="POST" class="dropzone form-default" id="my-dropzone">
		              {% csrf_token %}
		                   <div class="dz-message" data-dz-message>
		                         <img src="{% static 'images/fileupload.svg' %}" alt="">
		                          <span>إرفع وثائقك بالضغط على هذا الحقل</span>
		                   </div>
			            <div class="fallback">
			                <input name="file" type="file" multiple />
			            </div>
			        </form>
		        <button class="btn" id="uploadfiles"><i class="icon-e-33"></i>إرفع</button>
	       </div>

    <script>
    Dropzone.autoDiscover = false;

	$(function() {
	        var myDropzone = new Dropzone(".dropzone", {
                paramName: "image", // The name that will be used to transfer the file
            })
	    });
    </script>
{% endblock %}

